<a href="https://colab.research.google.com/github/stefisha/StefanVelickovic_Omega_DS_InvestmentRounds/blob/main/VegaIT_Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
import pandas as pd

In [4]:
# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Define the file path to the CSV file on Google Drive
file_path = '/content/drive/MyDrive/Data Science Task - VegaIT/python_task_data.csv'  # Update this path if needed

In [6]:
# Read the CSV file
df = pd.read_csv(file_path)

In [7]:
# Display the first few rows of the data
df.head()

,permalink,company,numEmps,category,city,state,fundedDate,raisedAmt,raisedCurrency,round
0,lifelock,LifeLock,NaN,web,Tempe,AZ,1-May-07,6850000,USD,b
1,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Oct-06,6000000,USD,a
2,lifelock,LifeLock,NaN,web,Tempe,AZ,1-Jan-08,25000000,USD,c
3,mycityfaces,MyCityFaces,7.0,web,Scottsdale,AZ,1-Jan-08,50000,USD,seed
4,flypaper,Flypaper,NaN,web,Phoenix,AZ,1-Feb-08,3000000,USD,a

In [8]:
# Filter the dataset for Series A funding rounds
series_a_funding = df[df['round'] == 'a']

In [10]:
# Calculate the total and average amounts for Series A funding rounds
total_series_a = series_a_funding['raisedAmt'].astype(float).sum()
average_series_a = series_a_funding['raisedAmt'].astype(float).mean()

In [11]:
total_series_a, average_series_a

(4380015000.0, 7525798.969072165)